.container {
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  margin: auto;
  text-align: center;
  transition: background 0.3s, color 0.3s;
}

.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #242629;
  color: #ffffff;
}

input {
  padding: 8px;
  margin-right: 8px;
}

button {
  margin: 10px;
  padding: 8px 16px;
  cursor: pointer;
}